:root{
    --thColor: rgb(255, 144, 162);
    --thBorder: rgb(192, 74, 94);
    --tdColor: rgb(192, 74, 94);
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(194, 194, 194);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(110, 110, 110);
    border-radius: 5px;
}
body{
    background-color: whitesmoke;
    position: relative;
}

/* end */
/* section for adding an item */
.add-item-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: white;
    width: 90%;
    max-width: 500px;
    z-index: 2;
    min-width: 10px;
    border-radius: 5px;
    /* outline: 1px solid red; */
}
.add-item-h1{
    font-weight: lighter;
}
.input-label-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    min-width: 10px;
    /* outline: 1px solid red; */
}
.input-label{
    position: absolute;
    top: 50%;
    left: 0.5em;
    font-size: 0.9rem;
    padding: 0.5em;
    padding-right: 1em;
    transform: translateY(-50%);
    background-color: white;
    transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
.input-item{
    font-size: 1rem;
    padding: 0.5em;
    border: 1px solid rgb(255, 53, 194);
    border-radius: 5px;
    width: 100%;
    min-width: 10px;
}
.input-item:focus{
    outline: 0.5px solid rgb(255, 53, 194);
    box-shadow: 0 0 30px -13px rgb(255, 53, 194);;
}
.btn-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.btn {
    font-size: 1rem;
    padding: 0.8em;
    padding-block: 0.5em;
    width: fit-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-submit{
    background-color: rgb(58, 58, 255);
    color: white;
}
.btn-clear{
    background-color: rgb(255, 92, 92);
    color: white;
}
/* end */
.main{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 1em;
    gap: 1em;
    background-color: white;
    margin-top: 1em;
    box-shadow: 0 5px 10px -8px black;
    position: relative;
    height: 100vh;
    /* outline: 1px solid red; */
}
/* blur */
.section-table-wrapper{
    width: 100%;
    overflow: auto;
    /* padding: 1em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    /* outline: 1px solid blue; */
}
.table{
    background-color: white;
    border-collapse: collapse;
    /* border: 1px solid black; */
    width: 100%;
    box-shadow: -5px 5px 20px -15px black;
    border-radius: 5px;
}
.thead{
    background-color: rgb;
    background-color: rgb(255, 144, 162);
}
.th{
    padding: 0.5em;
    border: 1px solid rgb(192, 74, 94);
    white-space: nowrap;
    color: black;
    text-align: center;
    vertical-align: center;
}
.th-textContent-sort-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    /* outline: 1px solid red; */
}
.td, .td-action{
    padding: 0.3em;
    border: 1px solid rgb(192, 74, 94);
    white-space: nowrap;
    text-align: start;
}
.sort-icon{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.sort-icon-desc{
    display: none;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
/* search and add btn wrapper */
.addbtn-search-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.btn-add-item{
    align-self: self-start;
    font-size: 1rem;
    padding: 0.5em;
    padding-block: 0.2em;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2px -2px black;
    cursor: pointer;
}
.img-add-icon{
    width: 25px;
    height: 25px;
}
.search-wrapper{
    display: flex;
    align-items: center;
    gap: 0.5em;
    position: relative;
    /* outline: 1px solid red; */
}
#searchType{
    /* position: absolute; */
    bottom: 100%; 
    right: 0;
    display: flex;
    font-size: 0.9rem;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}
.span-search-text{
    padding: 0.5em;
    background-color: pink;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.span-search-text:hover{
    background-color: rgb(255, 164, 180);
}
.input-search{
    display: none;
    font-size: 1rem;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    /* outline: 1px solid red; */
}
/* end search and add btn */
.td-action{
    text-align: center;
}
.img-edit-icon, .img-delete-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.h1-close-btn-wrapper{
    display: flex;
    justify-content: space-between;
}
.img-close-add-form{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.checkbox-add-to-cart{
    width: 20px;
    height: 20px;
}
/* header */
.header{
    padding: 0.5em;
    background-color: white;
    box-shadow: 0 5px 10px -8px black;
}
.section-nav{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* outline: 1px solid red; */
}
.img-logo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px -2px black;
}
.link--icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding-inline: 1em;
    padding-block: 0.2em;
    transition: all 0.3s ease;
}
.link--icon-wrapper:hover{
    background-color: rgb(255, 193, 203);
    text-decoration: underline;
    transform: scale(1.1)
    /* font-weight: bold; */
    
}
.nav-item-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
    /* outline: 1px solid blue; */
    width: 100%;
}
.nav-item{
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    white-space: nowrap;
    border-radius: 5px;
    /* outline: 1px solid red; */
}

.active-link{
    background-color: rgb(255, 193, 203);
    text-decoration: underline;
    font-weight: bold;
    border-radius: 5px;
    padding-inline: 1em;
    padding-block: 0.2em;
}
.nav-link-icon{
    width: 25px;
    height: 25px;
    /* filter: drop-shadow(-3px 3px 2px black); */
}
/* end */
/* paganation */
.paganation-wrapper{
    display: flex;
    gap: 0.2em;
    align-self: flex-end;
    /* outline: 1px solid red; */
}
.btn-prev, 
.btn-next{
    font-size: 1rem;
    padding: 1em;
    padding-block: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn-prev{
    background-color: rgb(255, 189, 200);
}
.btn-next{
    background-color: rgb(255, 189, 200);
}
.btn-prev:hover, 
.btn-next:hover{
    background-color: rgb(255, 171, 185);
}
.slicer{
    height: stretch;
    width: 2px;
    background-color: black;
}
/* cart */
.img-cart-cart-span-wrapper{
    align-self: flex-end;
    display: none;
    align-items: center;
    gap: 0.5em;
    background-color: rgb(255, 169, 184);
    padding-block: 0.5em;
    padding-inline: 1.3em;
    border-radius: 5px;
    cursor: pointer;  
    /* outline: 1px solid red; */
}
.img-cart-cart-span-wrapper:hover{
    background-color: pink;
    filter: drop-shadow(0px 0px 2px black);
}
.img-add-to-cart{
    width: 25px;
    height: 25px;
    /* outline: 1px solid red; */
}
.span-cart{
    font-size: 0.9rem;
    /* font-weight: bold; */
}
.added-item-list-wrapper{
    display: flex;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
}
.img-list-cart{
    width: 30px;
    height: 30px;
}
.span-item-list{
    font-size: 1rem;
}
/* end */
/* list item  */
.list-item-wrapper{
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
    padding: 1em;
    z-index: 2;
    width: 90%;
    max-width: 650px;
    box-shadow: 0 5px 5px -1px black;
    /* outline: 1px solid red; */
}
.h1-close-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h1-header-table-item-list{
    font-weight: lighter;
    text-align: center;
    color: #402B3A;
}
.span-close-btn{
    font-size: 1rem;
    padding-inline: 1em;
    padding-block: 0.5rem;
    border-radius: 5px;
    background-color: rgb(255, 95, 95);
    color: white;
    cursor: pointer;
}
.table-item-list-wrapper{
    width: 100%;
    overflow: auto;
    /* outline: 1px solid blue; */
}
.table-item-list{
    width: 100%;
    border-collapse: collapse;
}
.th-item-list{
    border-bottom: 1px solid black;
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
    background-color: pink;
    color: #402B3A;
    /* border: 1px solid black; */
}
.th-item-list:first-child{
    /* border-top-right-radius: 5px; */
    border-top-left-radius: 5px;
    padding: 0.5em;
}
.th-item-list:last-child{
    /* border-top-right-radius: 5px; */
    border-top-right-radius: 5px;
    padding: 0.5em;
    
}
.td-item-list{
    border-bottom: 1px solid black;
    font-size: 0.9rem;
    padding: 0.3em;
}
.tr-item-list{
    /* outline: 1px solid red; */
}
.tr-item-list:hover{
    background-color: rgb(255, 251, 252);
}
.td-item-list:last-child{
    border-bottom: 1px solid black;
    padding: 0.5em;
}
.input-quantity{
    font-size: 1rem;
    border: none;
    width: 100%;
    /* border-bottom: 1px solid black; */
    background-color: transparent;
    text-align: center;
}
.input-quantity:focus{
    outline: none;
    /* border-bottom: 1px solid black; */
}
.td-footer-item-list{
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5em;
    text-align: start;
}
.td-footer-item-list:last-child{
    text-align: center;
}
.btn-checkout{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding-inline: 1em;
    padding-block: 0.5em;
    width: fit-content;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 0.3em;
    background-color: pink;
}
.btn-checkout:hover{
    box-shadow: 0 0 3px -1px black;
}
.img-btn-checkout{
    width: 25px;
    height: 25px;
}
/* end */

/* table daily sales */
.daily-sales-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    /* padding: 1em;
    outline: 1px solid red; */
}
.daily-sales-inside-wrapper{
    background-color: white;
    padding: 1em;
    box-shadow: 0px 5px 10px -5px black;
    width: 100%;
}
.h1-daily-sales{
    margin-bottom: 0.5em;
    color: var(--thColor);
    text-decoration: underline;
}
.table-wrapper-daily-sales{
    display: flex;
    overflow: auto;
    width: 100%;
}
.table-daily-sales{
    border-collapse: collapse;
    width: 100%;
}
.th-daily-sales{
    padding: 0.5em;
    /* border: 1px solid var(--thBorder); */
    border-bottom: 2px solid var(--thBorder);
    white-space: nowrap;
    text-align: start;
}
.thead-daily-sales:hover{
    background-color: rgb(255, 241, 241);
}
.td-daily-sales{
    font-size: 0.9rem;
    padding: 0.5em;
    /* border: 1px solid var(--tdColor);    */
    border-bottom: 1px solid var(--tdColor);
    white-space: nowrap;
    text-align: start;
}
.tr-daily-sales:hover{
    background-color: rgb(245, 245, 245);
}
/* end  */

/* nav responsive */
#nav{
    position: absolute;
    right: 1rem;
    top: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    z-index: 4;
    background-color: white;
    /* outline: 1px solid red; */
}
.img-burger-menu{
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
}
.h1-esquina{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    /* outline: 1px solid red; */
}
/* end */
/* tfoot daily sales */
.t-foot-tr-daily-sales{
    border-top: 2px solid var(--thBorder);
}
.t-foot-daily-sales-td{
    size: 1.9rem;
    padding: 0.3em;
    font-weight: bold;
}
/* end */


/* form prompt */
.section-prompt{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,1em);
    background-color: white;
    padding: 1em;
    display: none;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    max-width: 500px;
    z-index: 99;
    /* height: 100%; */
    /* max-height: ; */
    /* outline: 1px solid red; */
}
.h1-sec-pin{
    text-align: center;
}
.input-prompt{
    font-size: 1rem;    
    padding: 0.5em;
    border: 1px solid rgb(255, 53, 194);
    border-radius: 5px;
}
.input-prompt:focus{
    outline: 0.5px solid rgb(255, 53, 194);
    box-shadow: 0 0 30px -13px rgb(255, 53, 194);
}
.btn-wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.btn-prompt{
    font-size: 1rem;
    padding-inline: 1em;
    padding-block: 0.5em;
    border: none;
    cursor: pointer;
}
.btn-submit-prompt{
    background-color: rgb(58, 58, 255);
    color: white;
}
.btn-submit-prompt:hover{
    background-color: rgb(48, 48, 255);
    color: white;
}
.btn-cancel-edit{
    background-color: rgb(255, 92, 92);
    color: white;
}
.btn-cancel-edit:hover{
    background-color: rgb(255, 82, 82);
    color: white;
}
/* end */

/* blur */
.blur{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(12px);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    display: none;
}
/* end */
/* select date in daily sale */
.h1-select_date-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* outline: 1px solid red; */
}
#dailySalesPickDate{
    font-size: 1rem;
    padding: 0.7em;
    border: none;
    color: pink;
    font-weight: bold;
}
/* end */
/* media queries */
@media (max-width: 750px){
    .nav-item-wrapper, .nav{
        display: none;
    }
    .img-burger-menu{
        display: flex;
    }
}
@media (max-width: 600px){
    html{
        font-size: 15.5px;
    }
}
@media (max-width: 500px){
    html{
        font-size: 14.5px;
    }
}
@media (max-width: 400px){
    html{
        font-size: 13.5px;
    }
}
@media (max-width: 350px){
    html{
        font-size: 12.5px;
    }
    .img-burger-menu{
        width: 25px;
        height: 25px;
    }
    .nav-link-icon{
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 300px){
    html{
        font-size: 12.5px;
    }
}
@media (max-width: 200px){
    html{
        font-size: 11.5px;
    }
}